$mainColor : rgb(104, 102, 102);
$mainBackground : rgba(208, 172, 220, 0.328);
$headerBackground: rgba(192, 154, 195, 0.5);
$border : rgba(80, 67, 84, 0.328);
$white : rgb(255, 255, 255);
$red: rgb(234, 8, 8);
$green: rgb(3, 241, 3);
$formModal: rgb(145, 127, 145);

$tablet: 768px;
$desktop: 1440px;

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-around{
    display: flex;
    justify-content: space-around;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
}