@import"../../scss/variables.scss";
button {
    border-radius : 20px;
    height: auto;

}

.buttonPlus {
    font-size: 3em;
    display: block;
}

@media (min-width: $desktop) {
    button {
        width: 11vw;
    }
  }