@import "../variables.scss";

.columnWrapper {
    @include flex-around;
    flex-wrap: wrap;
        margin: 2%;
    flex-direction: column;
    align-items: center;
    div {
        padding: 2%;

    }
}
h2 {
    text-align: center;
}

@media (min-width: $tablet) {
    .columnWrapper {
      flex-direction: row;
      align-items: baseline;

    }
  }
//   @media (min-width: $desktop) {
//     .columnnWrapper {
//       width : 21%;
//     }
//   }
