@import "../../scss/variables.scss";

.colorPaletteWrapper {
    ul {
      @include flex-center;
      // align-items: center;
      border: 2px solid white;
    }
    li {
      width: 20px;
      height: 20px;
      border: 2px solid white;
      cursor: pointer;
    }
  }
 