@import "../variables.scss";

.filterWrapper{
    margin: 1% 3%;
    @include flex-center;
    flex-wrap:  wrap;
    flex-direction: column;
    align-items: center;

}
.buttonWrapper {
    @include flex-around;
     margin-right: 1%;
}
// .customSelect {
//   border: 2px solid $border;
//   border-radius: 10px;
//   cursor: pointer;
//   // box-shadow: 2px 4px 8px #c5c5c5;
//   transition: all 300ms;
//   width: 150px;
//   /* select {
//     // position: relative;
//     display: none; 
//   } */
  
// }

@media (min-width: $tablet) {
  .buttonWrapper {
    width : 32%;
  }
  .filterWrapper {
    margin: 2%;
    @include flex-between;
    flex-direction: row;
  }
}
@media (min-width: 453px) and (max-width: 768px) {
  .buttonWrapper {
    width : 44%;
  }
}

@media (min-width: $desktop) {
    .buttonWrapper {
      width : 21%;
    }
  }