@import "../variables.scss";

.boards {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

.boardsItem {
    border: 2px solid rgba(85, 60, 85, 1);
    width:20vw;
    // height: 30vh;
    overflow: hidden;
    margin-right: 1%;
    border-radius : 12px;
    padding: 1%;  
    h4 {
    text-align: center;
   }
}

.boardsButtonWrapper {
    @include flex-around;
    margin-top: 10px;
}